@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*reset rules*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
}

html{
    font-family: "Open Sans", sans-serif;
}

/* in common rules */
.cta{
    padding: 0 15px;
    border-radius: 999px;
    display: block;
    line-height: 32px;
    font-size: 14px;
    text-decoration: none;
}

/* layout reules */
.container{
    max-width: 900px;
	margin: 0 auto;
}
.container-small{
    max-width: 720px;
	margin: 0 auto;
}

.container-small{
    max-width: 900px;
	margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-100{
    width: 100%;
}
.col-40{
    width: 40%;
}
.col-10{
    width: 10%;
}

/*header rules*/
.nav-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 60px;
    background-color: #255ee9; 
}
.main-menu a{
    color: white;
    text-decoration: none;
}
.main-menu{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cta-div{
    display: flex;
    justify-content: flex-end;  
}

.login.cta{
    background-color: white;
    color: black;
}

/* first section  */
.hero{
    background-image: url(../img/jumbo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    min-height: 600px;
}


.container-small .col-100{
    text-align: center;  
}
.hero-header{
    font-size: 35;
    margin-bottom: 25px;
    color: white;
}
.hero-text{
    color: white;
}
.row-hero-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.col-download{
    background-color: white;
    color: black;
    margin-right: 20px;
    line-height: 38px;
}
.col-open{
    color: white;
    background-color: #23262b;
    line-height: 38px;
}

/* 3 section */
.section-type-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
}
.section-type-2{
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
}

.col-1{
    background-color:rgb(19, 168, 242);
    width: 800px;
    height: 400px;
}

.col-2{
    background-color:rgb(245, 181, 222);
    width: 400px;
    height: 400px;
    padding: 40px 50px;
}
/* main footer */
.figure-main-footer{
    background-color: rgb(210, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 50px;
}

.figure-footer{
    background-color: rgb(2, 95, 6);
    height: 800px;
    width: 1200px;
}

/* footer */
.section-type-3{
    background-color: rgb(30, 31, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.col-3{
    background-color:rgb(254, 120, 120);
    width: 400px;
    height: 400px;
}

.col-4{
    background-color:rgb(69, 169, 189);
    width: 200px;
    height: 400px;
    padding: 40px 50px;
}

.log-but{
    background-color: rgb(30, 31, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px; 
    
}

.div-foot{
    background-color: aqua;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px; 
}
log-foot, .button-foot{
    border: 1px dashed black; 
    background-color: coral;
}

